{% extends "layout.html" %}

{% block title %}Poista kommentti {{ comment.id }}{% endblock %}

{% block content %}
<h2>Poista kommentti: {{ comment.id }}</h2>

<p>Oletko varma, että haluat poistaa tämän kommentin?</p>

<div class="container">
    <form method="post">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <button class="button" name="action" type="submit" value="cancel">Peruuta</button>
        <button class="danger" name="action" type="submit" value="delete">Kyllä</button>
    </form>
</div>

{% endblock %}