{% extends "layout.html" %}

{% block title %}Etsi retkipaikkaa{% endblock %}

{% block content %}
<h2>Etsi retkipaikkaa hakusanalla</h2>

<form action="/find-destination" method="get">
    <div>
        <label for="query">Hakusana</label>
        <input id="query" type="text" name="query" value="{{ query }}">
        <input type="submit" value="Etsi">
    </div>
</form>

<h2>Etsi retkipaikkaa luokituksella</h2>


{% for class_name, values in classes.items() %}
    <h3>{{ class_name }}</h3>
    {% for value in values %}
        <a href="{{ url_for('find_destination', class=class_name + ':' + value) }}">{{value}}</a>
    {% endfor %}
{% endfor %}


<h3>Tulokset</h3>
{% if results %}
{% for destination in results %}
{% include "partials/destination_list.html" %}
{% endfor %}
{% else %}
<p>Ei tuloksia.</p>
{% endif %}
{% endblock %}