<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}Retkipaikat{% endblock %}</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>

  <header>
    <div class="site-name">
      <a href="{{ url_for('index') }}">Retkipaikat</a>
    </div>
    <nav>
      <ul class="primary-nav">
        <li><a class="{% if request.endpoint == 'index' %}active{% endif %}" href="{{ url_for('index') }}">Etusivu</a>
        </li>
        <li><a class="{% if request.endpoint == 'search_destination' %}active{% endif %}"
            href="{{ url_for('search_destination') }}">Etsi retkipaikka</a></li>
      </ul>
      <ul class="user-nav">
        {% if session.user_id %}
        <li><a class="{% if request.endpoint == 'add_destination' %}active{% endif %}"
            href="{{ url_for('add_destination') }}">Uusi retkipaikka</a></li>
        <li><a class="{% if request.endpoint == 'get_user' and request.view_args.get(" user_id")==session["user_id"]
            %}active{% endif %}" href="{{ url_for('get_user', user_id=session.user_id) }}">Profiili</a></li>
        <li><a href="{{ url_for('logout') }}">Kirjaudu ulos</a></li>
        {% else %}
        <li><a class="{% if request.endpoint =='register' %}active{% endif %}" href="{{ url_for('register') }}">Luo
            tunnus</a></li>
        <li><a class="{% if request.endpoint == 'login' %}active{% endif %}" href="{{ url_for('login') }}">Kirjaudu
            sisään</a></li>

        {% endif %}
      </ul>

    </nav>
  </header>

  <main>
    <div class="content">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
      <div class="toast {{ category }}">{{ message | safe }}</div>
      {% endfor %}
      {% endif %}
      {% endwith %}

      {% block content %}
      {% endblock %}
    </div>
  </main>
  <footer>
    Copyright &copy; 2025 Retkipaikat.
  </footer>
</body>

</html>