<!DOCTYPE html>
<html>


<head>
  <title>{% block title %}Retkipaikat{% endblock %}</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <nav class="max-800">

    <ul class="nav-links">
      <li><a class="button" href="{{ url_for('index') }}">Etusivu</a></li>
      <li><a class="button" href="{{ url_for('search_destination') }}">Etsi retkipaikka</a></li>
      {% if session.user_id %}
      <li><a class="button" href="{{ url_for('add_destination') }}">Uusi retkipaikka</a></li>
      <li><a class="button" href="{{ url_for('get_user', user_id=session.user_id) }}">Profiili</a></li>
      <li><a class="button" href="{{ url_for('logout') }}">Kirjaudu ulos</a></li>
      {% else %}
      <li><a class="button" href="{{ url_for('login') }}">Kirjaudu sisään</a></li>
      <li><a class="button" href="{{ url_for('register') }}">Luo tunnus</a></li>
      {% endif %}
    </ul>

  </nav>

  <main class="max-800 content">
    <h1>Retkipaikat</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="toast {{ category }}">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}
  </main>
  <div class="max-800">
    Copyright &copy; 2025 Retkipaikat.
  </div>
</body>

</html>