{% extends "layout.html" %}

{% block title %}Kirjaudu sisään{% endblock %}

{% block content %}
<h2>Kirjaudu sisään</h2>

<form action="/login" method="post">
  <p>
    <label for="username">Tunnus</label>
    <input type="text" name="username" id="username" value="{{ filled.username }}"  minlength="5" maxlength="20" />
  </p>
  <p>
    <label for="password">Salasana</label>
    <input type="password" name="password" id="password" required minlength="8" maxlength="20" />
  </p>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Kirjaudu" />
</form>
{% endblock %}