{% extends "layout.html" %}

{% block title %}Profiili{% endblock %}

{% block content %}
<h2>Profiili</h2>

<h3>Omat retkipaikat</h3>
<p>
    Käyttäjällä on yhteensä {{ destinations | count }} retkipaikkaa.
</p>
{% if destinations %}
<ul>
    {% for destination in destinations %}
    <li>
        <a href="{{ url_for('get_destination', destination_id=destination.id) }}">{{ destination.name }}</a> (Arvostelu: {{ destination.average_rating }})
    </li>
    {% endfor %}
</ul>
{% else %}
<p>Sinulla ei ole vielä lisättyjä retkipaikkoja.</p>
{% endif %}

<h3>Omat kommentit</h3>

<p>
    Käyttäjällä on yhteensä {{ comments | count }} kommenttia.
</p>

{% if comments %}
<ul>
    {% for comment in comments %}
    <li>
        "{{ comment.comment }}" - <a href="{{ url_for('get_destination', destination_id=comment.destination_id) }}">{{
            comment.destination_name }}</a>
        {% if comment.rating %} (Arvostelu: {{ comment.rating }}) {% endif %}
    </li>
    {% endfor %}
</ul>
{% else %}
<p>Sinulla ei ole vielä kommentteja.</p>
{% endif %}

{% endblock %}