{% extends "layout.html" %}

{% block title %}{{ destination.name }} - Retkipaikat{% endblock %}

{% block content %}

<h2>{{ destination.name }}</h2>


<div class="flex">
    <div class="flex-1">
        {% if destination.has_image %}
            <img class="destination-image" src="{{ url_for('get_destination_image', destination_id=destination.id) }}" />
        {% else %}
            <img class="destination-image" src="/static/icons/{{ destination.classes | class_default_icon('Tyyppi') }}" />
        {% endif %}
    </div>
    <div class="flex-1">


        {% if session["user_id"] == destination.user_id %}
        <form action="{{ url_for('add_destination_image', destination_id=destination.id) }}" method="post"
            enctype="multipart/form-data">
            <p>
                Kuva: <input type="file" name="image" accept=".jpg,.png" />
            </p>
            <input type="submit" value="Päivitä kuva" />
        </form>
        {% endif %}
    </div>
</div>
<div>
    <div>
        <p><strong>Kuvaus:</strong><br />{{ destination.description | show_lines}}</p>
        <p><strong>Lisännyt:</strong> <a href="{{ url_for('get_user', user_id=destination.user_id) }}">{{
                destination.username }}</a></p>

        {% for title, value in classes.items() %}
        <p><strong>{{ title }}:</strong> {{ value }}</p>
        {% endfor %}
    </div>
</div>

{% if session.user_id and session.user_id == destination.user_id %}

<div class="container">
    <a class="button" href="/destination/{{ destination.id }}/edit" class="button">Muokkaa</a>
    <a class="button" href="/destination/{{ destination.id }}/delete" class="button">Poista</a>
</div>
{% endif %}

<h2>Retkeilijöiden kommentit</h2>

{% if comments %}
<h3>Kommentit</h3>
{% include "partials/comments_list.html" %}
{% else %}
<p>Ei kommentteja.</p>
{% endif %}


{% if session.user_id %}
<h3>Uusi kommentti</h3>

{% with action_url="/destination/" ~ destination.id ~ "/comments", submit_text="Lähetä" %}
{% include "partials/comment_form.html" %}
{% endwith %}

{% endif %}


{% endblock %}