{% extends "layout.html" %}

{% block title %}{{ destination.name }} - Retkipaikat{% endblock %}

{% block content %}

<h2>{{ destination.name }}</h2>


<div class="flex">
    <div class="flex-1">
        {% include 'partials/destination_image.html' %}
    </div>
    <div class="flex-1">


        {% if session["user_id"] == destination.user_id %}
        <form action="{{ url_for('add_destination_image', destination_id=destination.id) }}" method="post"
            enctype="multipart/form-data">
            <label for="image">Päivitä kohteen kuva:</label>
            <input id="image" type="file" name="image" accept=".jpg,.png" />
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
            <input type="submit" value="Päivitä kuva" />
        </form>
        {% endif %}
    </div>
</div>

<table class="destination-details">
    <tr>
        <th>Kuvaus</th>
        <td>
            {% if destination.description %}
            {{ destination.description | show_lines }}
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>Lisännyt</th>
        <td><a href="{{ url_for('get_user', user_id=destination.user_id) }}">{{ destination.username }}</a></td>
    </tr>
    {% for title, value in classes.items() %}
    <tr>
        <th>{{ title }}</th>
        <td>{{ value }}</td>
    </tr>
    {% endfor %}
    <tr>
        <th>Arvostelu</th>
        <td>{% if destination.average_rating %}
            {{ destination.average_rating }}
            {% else %}
            Ei arvosteluja
            {% endif %}
        </td>
    </tr>
</table>

{% if session.user_id and session.user_id == destination.user_id %}

<div class="container">
    <a class="button" href="/destination/{{ destination.id }}/edit" class="button">Muokkaa</a>
    <a class="button" href="/destination/{{ destination.id }}/delete" class="button">Poista</a>
</div>
{% endif %}

<h2>Retkeilijöiden kommentit</h2>

{% if comments %}
<h3>Kommentit</h3>
{% include "partials/comments_list.html" %}
{% else %}
<p>Ei kommentteja.</p>
{% endif %}


{% if session.user_id %}
<h3>Uusi kommentti</h3>

{% with action_url="/destination/" ~ destination.id ~ "/comments", action='add' %}
{% include "partials/comment_form.html" %}
{% endwith %}

{% endif %}


{% endblock %}