{% extends "layout.html" %}

{% block title %}Käyttäjän profiili{% endblock %}

{% block content %}
<h2>Käyttäjä {{ user.username }}</h2>

<h3>Retkipaikat</h3>
{% if destinations %}
<p>
    Käyttäjällä on lisännyt {{ destinations | count }} retkipaikkaa, jotka ovat saaneet keskiarvostelun:
</p>
<ul>
    {% for destination in destinations %}
    <li>
        <a href="{{ url_for('get_destination', destination_id=destination.id) }}">{{ destination.name }}</a>
        <i>, keskiarvostelu: {{ destination.average_rating }}</i>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>Käyttäjä ei ole vielä lisännyt retkipaikkoja.</p>
{% endif %}

<h3>Kommentit</h3>

{% if comments %}
<p>
    Käyttäjällä on lähettänyt {{ comments | count }} kommenttia ja arvosanaa, seuraaviin retkipaikkoihin:
</p>


<ul>
    {% for comment in comments %}
    <li>
        <a href="{{ url_for('get_destination', destination_id=comment.destination_id) }}">
            {{ comment.destination_name }}
        </a>
        <br />
        <i>
            {{ comment.created_at }}, arvosana {% if comment.rating %} {{ comment.rating }} {% endif %}
        </i>

    </li>
    {% endfor %}
</ul>
{% else %}
<p>Käyttäjä ei ole vielä jättänyt kommentteja.</p>
{% endif %}

{% endblock %}