{% extends "layout.html" %}

{% block title %}{{ destination.name }} - Retkipaikat{% endblock %}

{% block content %}

<h2>{{ destination.name }}</h2>

<div class="mb-4">
    <div>
        <img src="/static/placeholder.png" alt="{{ destination.name }}">
    </div>
    <div>
        <p><strong>Kuvaus:</strong><br />{{ destination.description | show_lines}}</p>
        <p><strong>Kunta:</strong> {{ destination.municipality }}</p>
        <p><strong>Lisännyt:</strong> <a href="{{ url_for('get_user', user_id=destination.user_id) }}">{{ destination.username }}</a></p>

        {% for title, value in classes.items() %}
        <p><strong>{{ title }}:</strong> {{ value }}</p>
        {% endfor %}
    </div>
</div>

{% if session.user_id and session.user_id == destination.user_id %}

<div class="container">
    <a class="button" href="/destination/{{ destination.id }}/edit" class="button">Muokkaa</a>
    <a class="button" href="/destination/{{ destination.id }}/delete" class="button">Poista</a>
</div>
{% endif %}

<h2>Retkeilijöiden kommentit</h2>

{% if comments %}
<h3>Kommentit</h3>
{% include "partials/comments_list.html" %}
{% else %}
<p>Ei kommentteja.</p>
{% endif %}


{% if session.user_id %}
<h3>Uusi kommentti</h3>

{% with action_url="/destination/" ~ destination.id ~ "/comments", submit_text="Lähetä" %}
{% include "partials/comment_form.html" %}
{% endwith %}

{% endif %}


{% endblock %}