<form class="mb-4" action="{{ action_url }}" method="post">
    <label for="comment">Kommentti</label>
    <textarea {% if action=='delete' %}disabled{% endif %} name="comment" id="comment" required maxlength="500" required
        title="Kommentin pitää olla 1-500 merkkiä pitkä.">{{ comment.comment if comment else '' }}</textarea>
    <br>
    <label for="rating">Arvosana (1-5)</label>
    <input {% if action=='delete' %}disabled{% endif %} type="number" name="rating" id="rating" min="1" max="5"
        maxlength="1" value="{{ comment.rating if comment else '' }}" title="Arvion pitää olla välillä 1-5." /><br>


    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />

    {% if action=='edit' or action=='delete' %}
    <button type="submit" name="action" value="cancel" formnovalidate>Peruuta</button>
    {% endif %}

    {% if action=='add' %}
    <button type="submit" name="action" value="submit">Lisää kommentti</button>
    {% elif action=='edit' %}
    <button type="submit" name="action" value="submit">Tallenna muutokset</button>
    {% elif action=='delete' %}
    <button type="submit" name="action" value="delete" class="danger">Poista kommentti</button>
    {% endif %}
</form>