<form class="mb-4" action="{{ action_url }}" method="post">
    <label for="comment">Kommentti</label>
    <textarea name="comment" id="comment" required maxlength="500" required>{{ comment.comment if comment else '' }}</textarea>
    <br>
    <label for="rating">Arvosana (1-5)</label>
    <input type="number" name="rating" id="rating" min="1" max="5" maxlength="1" value="{{ comment.rating if comment else '' }}" /><br>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />

    {% if edit %}
    <button type="submit" name="action" value="cancel" formnovalidate>Peruuta</button>
    {% endif %}
    <button type="submit" name="action" value="submit">{{ submit_text }}</button>
</form>