{% for comment in comments %}
<div class="comment">
    <span>
        <strong>{{ comment.created_at }} 
            <a href="{{ url_for('get_user', user_id=comment.user_id) }}">{{ comment.username }}</a>:</strong> Arvosana: {{ comment.rating }}
    </span>
    <p>{{ comment.comment }}</p>

    {% if session.user_id and session.user_id == comment.user_id %}
    <div class="container">
        <a class="button" href="/destination/{{destination.id}}/comments/{{ comment.id }}/edit"
            class="button">Muokkaa</a>
        <a class="button" href="/destination/{{destination.id}}/comments/{{ comment.id }}/delete"
            class="button">Poista</a>
    </div>
    {% endif %}
</div>
{% endfor %}