<form action="{{ action_url }}" method="post">
    <div>
        <label for="name">Nimi</label>
        <input id="name" type="text" name="name" value="{{ form_data.name }}" {{ schema.name }} />
    </div>
    <div>
        <label for="description">Kuvaus</label>
        <textarea id="description" name="description" rows="4" cols="50" maxlength="1000" {{ schema.description
            }}>{{ form_data.description }}</textarea>
    </div>
    <div>
        <label for="municipality">Kunta</label>
        <input id="municipality" type="text" name="municipality" value="{{ form_data.municipality }}" {{
            schema.municipality }} />
    </div>
    <div>
        {% for class in classes %}
        <p>
            <label for="class{{ class }}">{{ class }}</label>
            <select name="classes" id="class{{ class }}">
                <option value="">(valitse)</option>
                {% for option in classes[class] %}
                {% if False %}
                <option value="{{ class }}:{{ option }}" selected>{{ option }}</option>
                {% else %}
                {{ form_data.classes }}
                <option value="{{ class }}:{{ option }}">{{ option }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </p>
        {% endfor %}
    </div>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />

    <input type="submit" value="{{ submit_text }}">
</form>