{% extends "layout.html" %}

{% block title %}Kirjaudu sisään{% endblock %}

{% block content %}
<h2>Luo tunnus</h2>

<form action="/register" method="post">
  <p>
    <label for="username">Tunnus</label>
    <input type="text" name="username" id="username" value="{{ form_data.username }}" {{ schema.username }} />
    {% if errors and errors.username %}
    <span class="error">{{ errors.username }}</span>
    {% endif %}
  </p>
  <p>
    <label for="password1">Salasana</label>
    <input type="password" name="password1" id="password1" {{ schema.password1 }} />
    {% if errors and errors.password1 %}
    <span class="error">{{ errors.password1 }}</span>
    {% endif %}
  </p>
  <p>
    <label for="password2">Salasana uudestaan</label>
    <input type="password" name="password2" id="password2" {{ schema.password2 }} />
    {% if errors and errors.password2 %}
    <span class="error">{{ errors.password2 }}</span>
    {% endif %}
  </p>
  <input type="submit" value="Luo tunnus" />
</form>
{% endblock %}