:root {
    --font-color: rgba(0, 0, 0, 0.8);
    --primary-color: #3498db;
    --background-color: #f4f4f4;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--font-color);
    margin: 0;
    padding: 0;
}

header,
footer,
main {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 20px;
}

header {
    margin-top: 20px;
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main .content {
    padding: 20px;
}

header .site-name {
    margin-bottom: 20px;
}

header .site-name a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 24px;
    font-weight: bold;
}

header .site-name a:visited {
    color: var(--primary-color);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    padding: 0px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav ul {
    padding-inline-start: 0;
}

nav li {
    display: inline-block;
    list-style-type: none;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
}

nav li a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
}

nav li a:hover {
    background-color: var(--primary-color);
    color: white;
    transition: background-color 0.3s, color 0.3s;
}

nav li a.active {
    background-color: var(--primary-color);
    color: white;
}

button,
.button,
input[type="submit"],
input::file-selector-button {
    margin: 0 10px;
    padding: 8px 16px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
}

form .error {
    color: red;
}

button:hover,
.button:hover,
input[type="submit"]:hover {
    opacity: 0.8;
    transition: opacity 0.3s;
}

button.danger {
    background-color: #e74c3c;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="file"],
select,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.toast {
    padding: 10px 20px;
    border-radius: 4px;
    color: black;
    font-weight: bold;
    margin-bottom: 10px;
}

.toast.message {
    background-color: #45a04930;
    border: 2px solid #45a049;
}

.toast.error {
    background-color: #f4433630;
    border: 2px solid #da190b;
}

.container,
.flex {
    display: flex;
}

.flex-1 {
    flex: 1 1 0%;
}

.flex-none {
    flex: none;
}

.flex-wrap {
    flex-wrap: wrap;
}

.w-36 {
    width: 9rem;
}

.mb-4 {
    margin-bottom: 1rem;
}

.p-4 {
    padding: 1rem;
}

.pill {
    display: inline-block;
    background-color: #e0e0e0;
    color: #333;
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 12px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.comment {
    background-color: #e0e0e0;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.list-rating {
    color: rgba(0, 0, 0, 0.7)
}

.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding-inline-start: 0;
}

.pagination li a {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    border: 1px solid gray;
    color: black;
    margin: 0 4px;
    border-radius: 5px;
}

.pagination li a.active {
    background-color: var(--primary-color);
    color: white;
}

.pagination li a.disabled {
    color: #dddddd;
    cursor: not-allowed;
    pointer-events: none;
}

.destination-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
}

table.destination-details {
    margin-bottom: 20px;
}

table.destination-details th,
table.destination-details td {
    padding: 8px 12px;
}


table.destination-details th {
    vertical-align: top;
    text-align: left;
    font-weight: bold;
}

table.destination-details td {
    vertical-align: top;
}

